<div class="container">
    <div class="card">
        <div class="card-body">
            <h1 class="title-integrantes">Integrantes de Peluditos App</h1>
            <section class="card-small">
                <h3>Andres Herrera Mendoza</h3>
                <figure>
                    <img src="/img/Image-Perfil-Andres.jpg" class="logo-integrante rounded-circle mx-auto m-4"
                        alt="Integrante Andres">
                </figure>
                <p>Con el cargo de tester</p>
            </section>
            <section class="card-small">
                <h3>Diego Herrera Rincón</h3>
                <figure>
                    <img src="/img/Image-Perfil-Diego.jpg" class="logo-integrante rounded-circle mx-auto m-4"
                        alt="Integrante Diego">
                </figure>
                <p>Con el cargo de administrador de la configuración</p>
            </section>
            <section class="card-small">
                <h3>Octavio Caraballo Almeida</h3>
                <figure>
                    <img src="/img/Image-Perfil-Octavio.jpg" class="logo-integrante rounded-circle mx-auto m-4"
                        alt="Integrante Octavio">
                </figure>
                <p>Con el cargo de lider</p>
            </section>
            <section class="card-small">
                <h3>Yesid Jiménez Vivas</h3>
                <figure>
                    <img src="/img/Image-Perfil-Yesid.jpg" class="logo-integrante rounded-circle mx-auto m-4"
                        alt="Integrante Yesid">
                </figure>
                <p>Con el cargo de diseñador de UI</p>
            </section>
            <section class="card-small">
                <h3>Jesus Antonio Bobadilla Murcia</h3>
                <figure>
                    <img src="/img/silueta-perfil.jpg" class="logo-integrante rounded-circle mx-auto m-4"
                        alt="Integrante Jesus">
                </figure>
                <p>Con el cargo de diseñador de software</p>
            </section>
            <br>
            <hr>
            <br>
            <h3 class="text-agradecimiento">Agradecimientos</h3>
            <p>A Hugo Ruíz Martínez por sus enseñanzas, paciencia y dedicación.</p>
        </div>
    </div>
</div>