<!-- SHOWCASE-->
<header class="showcase">
  <h1 class="principal-text">Una Segunda Oportunidad Una Mano Amiga</h1>
  <p>En Esta Pagina Vas A Poder Encontrar Las Mejores Fundaciones Para Adopcion De Animales.</p>
  <a href="#" class="btn">Read More <i class="fas fa-angle-double-right"></i> </a>
</header>

<!--NEW CARDS-->
<div class="new-cards">
  <div>
    <img src="/img/fundacion1.jpg" alt="New 1">
    <h3>Fundación Animalove.</h3>
    <p>En Animalove nos dedicamos a rescatar, dar tratamiento veterinario y terapia de amor, para así resocializar
      perritos y gaticos que vienen de situaciones dolorosas, tristes y merecen las mejores cosas de la vida.</p>
    <a href="https://www.fundacionanimalove.org/index.php/fundacion/que-hacemos" target="_blank">Leer Más <i
        class="fas fa-angle-double-right"></i></a>
  </div>
  <div>
    <img src="/img/fundacion2.jpg" alt="New 1">
    <h3>Fundación Adopta No Compres.</h3>
    <p>Somos una fundación dedicada a brindar una segunda oportunidad a los animales rescatados de la calle,
      abandonados, abusados y maltratados no solo en Bogotá sino en toda Colombia. Nuestra misión es mejorar las
      condiciones y la calidad de vida de todos ellos .</p>
    <a href="https://www.adoptanocompres.org/" target="_blank">Leer Más <i class="fas fa-angle-double-right"></i></a>
  </div>
  <div>
    <img src="/img/fundacion3.webp" alt="New 1">
    <h3>Fundación Orca.</h3>
    <p>O.R.C.A. es la Organización por el Respeto y el Cuidado de los animales, es la materialización de la voluntad de
      varias personas que se unieron en pos de ayudar de manera solidaria, a los animales de calle, víctimas de
      violencia, abandono y maltrato de la Ciudad de Medellín, Área Metropolitana y alrededores.</p>
    <a href="https://fundacionorca.org/" target="_blank">Leer Más <i class="fas fa-angle-double-right"></i></a>
  </div>
  <div>
    <img src="/img/fundacion4.jpg" alt="New 1">
    <h3>Petepua.</h3>
    <p>El maltrato y abandono de perros y gatos es una situación preocupante, cuya solución necesita de nuestro apoyo.
      Todas las personas pueden hacer algo para erradicar esta terrible situación. En Medellín – Colombia, hay un grupo
      de rescatistas voluntarias independientes que han decidido unir esfuerzos y recursos para ayudar a los peludos en
      apuros.</p>
    <a href="https://petepua.com/heroes-sin-capa/organizacion-salvar/" target="_blank">Leer Más <i
        class="fas fa-angle-double-right"></i></a>
  </div>
</div>

<section class="cards-banner-one">
  <div class="content">
    <h2 class="principal-text">Mision_Sharp</h2>
    <p>Una Segunda Oportunidad Una Mano Amiga.</p>
    <a href="#" class="btn">Learn More<i class="fas fa-angle-double-right"></i></a>
  </div>
</section>

<!--NEW CARDS-->
<div class="new-cards">
  <div>
    <img src="/img/fundacion5.jpg" alt="New 1">
    <h3>Fundación Paraiso De La Mascota.</h3>
    <p>El centro de adopción viene funcionando desde Noviembre de 1999, por iniciativa de nuestra Fundadora y actual
      Presidente, señora Ofelia Villegas, quien después de su jubilación, empezó a rescatar animalitos de la calle,
      llevándolos a su casa.</p>
    <a href="https://www.paraisodelamascota.org/" target="_blank">Leer Más <i class="fas fa-angle-double-right"></i></a>
  </div>
  <div>
    <img src="/img/fundacion6.jpg" alt="New 1">
    <h3>Fundación Paz Animal.</h3>
    <p>Fundación para la defensa de los animales - Huella de Vida.
      La fundación PAZANIMAL, Huella de Vida, es una entidad sin ánimo de lucro, de carácter privado, legalmente
      constituida que desde Enero de 1995 viene trabajando en pro de la fauna urbana y silvestre vulnerable de la ciudad
      de Cali, brindando atención integral a un numero mensual de aproximadamente 500 animales entre Perros, Gatos y
      Caballos..</p>
    <a href="https://www.pazanimal.org/#" target="_blank">Leer Más <i class="fas fa-angle-double-right"></i></a>
  </div>
  <div>
    <img src="/img/fundacion7.jpg" alt="New 1">
    <h3>Fundación S.O.S. Apoyo Animal.</h3>
    <p>La FUNDACION S.O.S. APOYO ANIMAL, identificada con Nit 900.545.832-5, nace en la ciudad de Barranquilla -
      Colombia, como una entidad sin ánimo de lucro, su objeto social esta basado en controlar la sobrepoblación canina
      y felina, la defensa, protección, reubicación del animal desprotegido y maltratado; contribuimos en gran medida al
      mejoramiento de la calidad de vida de la fauna callejera, brindando a la comunidad en general jornadas y/o
      campañas encaminadas a la tenencia responsable y esterilización de su mascota, marcados con el lema LA
      ESTERILZIACION ACTO DE AMOR Y RESPONSABILIDAD y LA ESTERILIZACION ES LA SOLUCION.</p>
    <a href="https://fundacionsosapoyoani.wixsite.com/fundasos/find-talent" target="_blank">Leer Más <i
        class="fas fa-angle-double-right"></i></a>
  </div>
  <div>
    <img src="/img/fundacion8.jpg" alt="New 1">
    <h3>Fundación Huellitas Callejeras.</h3>
    <p>FUNDACIÓN HUELLITAS CALLEJERAS, surge en la ciudad de Barranquilla debido al vivir de cerca la experiencia en
      necesidades que presenta los perros y gatos en condición de abandono así como aquellos que nacen en los
      alrededores de nuestra ciudad sin ningún tipo de cuidado, ni alimentación.
      Desde su inicio nos hemos enfocado en el bienestar general, realizandoles seguimientos en su desarrollo, así como
      correspondiente en vacunas, desparasitantes y demás.</p>
    <a href="http://fundacionhuellitascallejeras.com/" target="_blank">Leer Más <i
        class="fas fa-angle-double-right"></i></a>
  </div>
</div>

<section class="cards-banner-two">
  <div class="content">
    <h2 class="principal-text">Mision_Sharp</h2>
    <p>Una Segunda Oportunidad Una Mano Amiga.</p>
    <a href="#" class="btn">Learn More <i class="fas fa-angle-double-right"></i></a>
  </div>
</section>