<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card mt-4 text-center">
            <div class="card-header">
                <h1>Registro de Cuenta</h1>
            </div>
            <div class="card-body">
                <form action="signup" method="post">
                    <div class="form-group">
                        <input type="text" class="form-control" name="name" placeholder="Nombre" value="{{name}}">
                    </div>
                    <br>
                    <div class="form-group">
                        <input type="email" class="form-control" name="email" placeholder="Correo" value="{{email}}">
                    </div>
                    <br>
                    <div class="form-group">
                        <input type="password" class="form-control" name="password" placeholder="Contraseña">
                    </div>
                    <br>
                    <div class="form-group">
                        <input type="password" class="form-control" name="confirm_password"
                            placeholder="Confirmar contraseña">
                    </div>
                    <br>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary col-md-12">Registrarse</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>